/* Header css  */
.hiddenbox{
  display: none;
  width: 100%;
  font-weight: 500;
}

.openbox{
  display: flex;
  justify-content: center;
  font-weight: 600;
  width: 100%; 
}

@media screen and (min-width: 700px) {
  .hiddenbox{
      display: block;
  }
}
/* Header css ends */

@layers utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
